<header class="py-4 bg-teal-600 text-gray-50">
  <div class="container flex items-center justify-between">
    <label class="text-2xl font-bold">
      <a href="/">{{ site.siteName }}</a>
    </label>

    <div class="menu-btn cursor-pointer lg:hidden" onclick="toggleSlideOver()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </div>

    <div id="slideover-container" class="fixed inset-0 invisible lg:hidden z-50">
      <div id="slideover-bg" onclick="toggleSlideOver()"
        class="absolute inset-0 w-full h-full bg-gray-900 opacity-0 duration-500 ease-in-out transition-all"></div>

      <div id="slideover"
        class="absolute w-1/2 h-screen right-0 top-0 bg-white translate-x-full duration-500 ease-in-out transition-all">

        <div class="w-10 h-10 text-gray-600 cursor-pointer mt-8 ml-6" onclick="toggleSlideOver()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>

        <nav class="h-full p-8">
          <ul class=" flex flex-col space-y-10">
            {% for item in navbar.items %}

            <li class="py-2">
              <a href="{{ item.url | url }}"
                class="block text-gray-700 hover:text-red-700 font-semibold">{{ item.text }}</a>
            </li>

            {% endfor %}
          </ul>
        </nav>

      </div>

    </div>


    <nav class="hidden lg:block">
      <ul class="flex flex-wrap space-x-10">
        {% for item in navbar.items %}

        <li>
          <a href="{{ item.url | url }}" class="font-semibold text-gray-100">{{ item.text }}</a>
        </li>

        {% endfor %}
      </ul>
    </nav>

  </div>

</header>